<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your Ultimate Team!</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1>Basketball Team</h1>

    <!--   Use ERB tags to bring in an instance variable containing the reversed string -->
    <h2>Team Name: <%= @name %></h2>
    <h2>Coach: <%= @coach %></h2>
    <h2>Point Guard: <%= @pg %></h2>
    <h2>Shooting: <%= @sg %></h2>
    <h2>Power Forward: <%= @pf %></h2>
    <h2>Small Forward: <%= @sf %></h2>
    <h2>Center: <%= @c %></h2>
  </body>
</html> 